---
import { render, type CollectionEntry } from 'astro:content'

import { MediumZoom } from 'astro-pure/advanced'
import { TOC } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import PageLayout from '@/layouts/ContentLayout.astro'

export const prerender = true

export async function getStaticPaths() {
  const posts = sortMDByDate(await getBlogCollection('questions'))
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post }
  }))
}

type Props = {
  post: CollectionEntry<'questions'>
}

const { post } = Astro.props
const { Content, headings } = await render(post)
const { description, title } = post.data

const editPath = `https://github.com/cworld1/astro-theme-pure/edit/main/${post.filePath}`
---

<PageLayout meta={{ description, title }} back='/questions'>
  <Fragment slot='sidebar'>
     {!!headings.length && <TOC {headings} />}
  </Fragment>

  <!--{headings?.length && <TOC headings={headings} slot='sidebar' />}-->
  <Fragment slot='header'>
    <h1 class='text-2xl font-medium sm:mb-2 sm:text-3xl'>
      {title}
    </h1>
    <div class='mt-4 flex flex-wrap gap-x-4 gap-y-2 text-xs leading-6 text-muted-foreground'>
      {
        // Description
        description && (
          <blockquote class='text-sm italic text-muted-foreground'>
            <q>{description}</q>
          </blockquote>
        )
      }
    </div>
  </Fragment>

  <Content />
</PageLayout>
<!--<MediumZoom />-->

